.section1 {
    background-color: #1f2937;
    font-family: sans-serif ;
}

.header {
    display: flex;
    justify-content: space-between;
    padding-left: 300px;
    padding-right: 280px;
     
}


.logo {
    display: flex;
    align-items: center;
    font-size: 24px;
    color: #f9faf8;
}

.links {
    display: flex;
    list-style-type: none;
}

a {
    text-decoration: none;
    margin: 20px;
    font-size: 18px;
    color: #e5e7eb;
}

h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

p {
    font-size: 18px;
    color: #e5e7eb;
}

.signup1 {
    background-color: #3882f6;
    border: none;
    color: white;
    border-radius: 4px;
    font-size: 18px;
    padding: 12px 28px;
    transition-duration: 0.4s;
}

.signup1:hover {
    background-color: #225fc0;
}

.container1 {
    display: flex;
    justify-content: space-between;
    padding-left: 300px;
    padding-right: 300px;
    padding-top: 100px;
    padding-bottom: 100px;     
}

.leftcontent {
    align-self: center;
    margin-right: 50px;
}


.hunter1 {
    width: 30%;
}